@charset "utf-8";
/* CSS Document */
.cal_header
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background-color:#6D6149;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	height:18px;
}
.cal_days
{
	font: bold 11px verdana;
	color:#ffffff;
	background-color:#C0BDA9;
	border:none;
	padding:5px;
	text-decoration:none;
	height:15px;
}
.cal_month_header
{
	font: bold 12px verdana;
	color:#ffffff;
	background-color:#5B492F;
	border:none;
	padding:5px;
	text-decoration:none;
	height:18px;
}
.cal_month
{
	font: bold 10px verdana;
	color:#ffffff;
	background-color:#C0BDA9;
	border:none;
	padding:5px;
	text-decoration:none;
	height:18px;
}
.cal_month_hover
{
	font: bold 10px verdana;
	color:#ffffff;
	background-color:#816B56;
	border:none;
	padding:5px;
	text-decoration:none;
	height:18px;
}
.cal_sunday
{
	font: bold 13px verdana;
	color:#000000;
	background-color:#C2B8AB;
	border:none;
	padding:5px;
	text-decoration:none;
	height:18px;
}
.cal_satday
{
	font: bold 13px verdana;
	color:#000000;
	background-color:#E8E0D7;
	border:none;
	padding:5px;
	text-decoration:none;
	height:18px;
}
.cal_curday
{
	font: bold 13px verdana;
	color:#932F2F;
	background-color:#ADA285;
	border:none;
	padding:5px;
	text-decoration:none;
	height:18px;
}
.cal_weekday
{
	font: bold 13px verdana;
	color:#000000;
	background-color:#E9E7D8;
	border:none;
	padding:5px;
	text-decoration:none;
	height:18px;
}