<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content=""/>
<meta name="author" content="admin" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>Nashville</title>

</head>

<body>

<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif;">
  <tr>
    <td align="center" valign="middle" style="background:#72c0b7; padding:0 50px;">
    	<span style="display:inline-block; padding:10px 20px;">
        	<img width="350" src="https://www.oursitterlist.com/images/logo.png" />
        </span>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
    	 <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
            	<table width="600" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" colspan="2">
                    	<h1 style="border-bottom: 1px solid #cccccc;color:#155878;
    font-family: arial;font-size: 30px; font-weight: normal; margin:0 0; padding:6px 0;">Our Sitter List LLC</h1>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" colspan="2">
                    <h2 style="color:#333333;
    font-family: arial;font-size:18px; font-weight: normal; margin:0 0; padding:6px 0;">Sitter Application Confirmation</h2></td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Application Details</h3></td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Sitter Username</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%USERNAME%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">JOB Code</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%JOBID%</td>
                      </tr>



                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">No of Kids</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%NOOFKIDS%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Remarks</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%REMARKS%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Zipcode</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%ZIPCODE%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Apply Date:</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%APPDATE%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Confirmation Status:</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%CSTATUS%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Details:</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%ACCOUNT_STATUS%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Contact Sitter:</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%CONTACTLINKFAMILY%</td>
                      </tr>
                    </table>

                    </td>
                  </tr>




                </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="middle" style="background:url(https://www.oursitterlistnashville.com/images/footer-bg2.png) repeat-x; padding:15px 0;"></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="background:#72c0b7; padding:15px 0;">&nbsp;</td>
  </tr>
</table>


</body>
</html>
