<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content=""/>
<meta name="author" content="admin" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>Nashville</title>

</head>

<body>

<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif;">
  <tr>
    <td align="center" valign="middle" style="background:#72c0b7; padding:0 50px;">
    	<span style="display:inline-block; padding:10px 20px;">
        	<img width="350" src="https://www.oursitterlist.com/images/logo.png">
        </span>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
    	 <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
            	<table width="600" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center" colspan="2">
                    	<h1 style="border-bottom: 1px solid #cccccc;color:#155878;
    font-family: arial;font-size: 30px; font-weight: normal; margin:0 0; padding:6px 0;">Our Sitter List LLC</h1>
                    </td>
                  </tr>
                  <tr>
                    <td align="center" colspan="2">
                    <h2 style="color:#333333;
    font-family: arial;font-size:18px; font-weight: normal; margin:0 0; padding:6px 0;">Family Membership</h2></td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Membership Payment Information</h3></td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Full Name (first last):</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%FULL_NAME%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">User Name:</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%USER_ID%</td>
                      </tr>
                      <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Subscriber ID:</span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%SUBSCRIPTION_ID%</td>
                      </tr>


                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2" style="padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Our Sitter List Nashville Package Options</h3></td>
                      </tr>
                      <tr>
                        <td align="left" colspan="2">
                        <h4 style="border-bottom: 1px solid #cccccc;color:#155878;
    font-family: arial;font-size:13px; font-weight: bold; margin:0 0; padding:6px 0;">Choosen Membership Plan</h4></td>
                      </tr>
                      <tr>
                      	<td align="left">

%MEMBERSHIP_PLAN%
                        </td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2" style="padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Babysitting Rates</h3></td>
                      </tr>
                      <tr>
                      	<td align="left">
                        	<p style="font-size:13px; margin:5px 0;">- 1 child @ $11/hour </p>
                        	<p style="font-size:13px; margin:5px 0;">- 2 children @ $12/hour</p>
                            <p style="font-size:13px; margin:5px 0;">- 3 children @ $14/hour</p>
                            <p style="font-size:13px; margin:5px 0;">- 4 children @ $15/hour</p>
                            <p style="font-size:13px; margin:5px 0;">- More than 4 children will be an additional $1/hour per child</p>
                            <p style="font-size:11px; font-style:italic;">* Rates above are per family</p>
                        </td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2" style="padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Our Sitter List LLC expectations:</h3></td>
                      </tr>
                      <tr>
                      	<td align="left">
                            <p style="font-size:13px; margin:5px 0;">-	I will lay out my clear instructions for the babysitter.</p>
<p style="font-size:13px; margin:5px 0;">-	I will adhere to the hourly rates referenced above.</p>
<p style="font-size:13px; margin:5px 0;">-	Babysitter will provide own transportation to and from. I will not provide transportation.</p>
<p style="font-size:13px; margin:5px 0;">-	All sitters found through www.oursitterlistnashville.com should be booked through the website.</p>
<p style="font-size:13px; margin:5px 0;">-	All sitters should be booked through www.oursitterlistnashville.com.(not through calling or text messaging)</p>
<p style="font-size:13px; margin:5px 0;">-	I will do my best to reserve 24 hours in advance. However, last minute sitters are available. We just encourage booking as far in advance as possible.</p>
<p style="font-size:13px; margin:5px 0;">-	I will provide positive and/or negative feedback to oursitterlist@gmail.com.</p>
<p style="font-size:13px; margin:5px 0;">-	I will contact Whitney or Karly immediately if any issues arise with a sitter.</p>

                        </td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" colspan="2" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                    <!--  <tr>
                        <td width="200" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">How did you hear about us?: </span>
                        </td>
                        <td width="400" style="border-bottom:#cccccc 1px solid;">%HEAR_ABOUT_US%</td>
                      </tr>
					  <tr>
						<td align="left" colspan="2">
                        	<p style="border-bottom:#cccccc 1px solid; font-size:13px; margin:5px 0;">%SIGNATURE%</p>
                            <span style="display:block; font-size:13px; margin:5px 0;">Signature of Applicant</span>
                        </td>
                      </tr>-->
                      <tr>
						<td align="left" colspan="2">
                        	<p style="border-bottom:#cccccc 1px solid; font-size:13px; margin:5px 0;">&nbsp;</p>
                            <span style="display:block; font-size:13px; margin:5px 0;">Date : %DATE%</span>
                        </td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="middle" style="background:url(https://www.oursitterlistnashville.com/images/footer-bg2.png) repeat-x; padding:15px 0;"></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="background:#72c0b7; padding:15px 0;">&nbsp;</td>
  </tr>
</table>


</body>
</html>
