<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content=""/>
<meta name="author" content="admin" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>Nashville</title>

</head>

<body>

<table width="600" border="0" cellspacing="0" cellpadding="0" align="center" style="font-family:Arial, Helvetica, sans-serif;">
  <tr>
    <td align="center" valign="middle" style="background:#72c0b7; padding:0 50px;">
    	<span style="display:inline-block; padding:10px 20px;">
        	<img width="350" src="https://www.oursitterlist.com/images/logo.png">
        </span>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top">
    	 <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>
            	<table width="600" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center">
                    	<h1 style="border-bottom: 1px solid #cccccc;color:#155878;
    font-family: arial;font-size: 30px; font-weight: normal; margin:0 0; padding:6px 0;">Babysitter Application</h1>
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                    <h2 style="color:#333333;
    font-family: arial;font-size:18px; font-weight: normal; margin:0 0; padding:6px 0;">Sitter Application</h2></td>
                  </tr>
                  <tr>
                    <td align="left" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid; border-bottom:#ffffff 8px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Personal information</h3></td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Full Name (first last):</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%FULL_NAME%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Driver’s License: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%DRIVER_LICENSE%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Do you have First Aid Training: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%FIRST_AID%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">If yes, date of certification: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%DATE_OF_CERTIFICATION_FIRST_AID%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">If no, are you willing to be certified? </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%TO_BE_CERTIFIED_FIRST_AID%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Do you have CPR training: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%CPR_TRAINING%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">If yes, date of certification: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%DATE_OF_CERTIFICATION_CPR_TRAINING%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">If no, are you willing to be certified: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%TO_BE_CERTIFIED_CPR_TRAINING%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Please describe yourself:</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%SELF_DESCRIPTION%</td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid; border-bottom:#ffffff 8px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Contact information</h3></td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Cell phone number: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%CELL_PHONE_NUMBER%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Email address:</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%EMAIL_ADDRESS%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Emergency contact and phone number: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%EMERGENCY_PHONE_NUMBER%</td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid; border-bottom:#ffffff 8px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Education</h3></td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">High School: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%HIGH_SCHOOL%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">If yes, what high school: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%HIGH_SCHOOL_NAME%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">College :</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%COLLEGE%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">If yes, what college: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%COLLEGE_NAME%</td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid; border-bottom:#ffffff 8px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">References/Experience</h3></td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">1 .Name and phone number:</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%FIRST_REFERENCE_NAME_PHONE%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Role/Position:</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%FIRST_REFERENCE_ROLE%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Age of children: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%FIRST_AGE_OF_CHILDREN%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Length of employment: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%FIRST_LENGTH_OF_EMPLOYMENT%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">2. Name and phone number:</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%SECOND_REFERENCE_NAME_PHONE%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Role/Position:</span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%SECOND_REFERENCE_ROLE%<</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Age of children: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%SECOND_AGE_OF_CHILDREN%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Length of employment: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%SECOND_LENGTH_OF_EMPLOYMENT%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Do you have any other references/work experiences you want to share?:  </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%EXTRA_REFERENCE_DETAILS%</td>
                      </tr>
                      <tr>
                        <td width="220" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Please describe any experience with special needs children: </span>
                        </td>
                        <td width="380" style="border-bottom:#cccccc 1px solid;">%SPECIAL_NEEDS_REFERENCE_DETAILS%</td>
                      </tr>
                    </table>
                    </td>
                  </tr>
                  <tr>
                    <td align="left" style="padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Babysitting Rates</h3></td>
                      </tr>
                      <tr>
                      	<td align="left">
                        	<p style="font-size:13px; margin:5px 0;">- 1 child @ $11/hour </p>
                        	<p style="font-size:13px; margin:5px 0;">- 2 children @ $12/hour</p>
                            <p style="font-size:13px; margin:5px 0;">- 3 children @ $14/hour</p>
                            <p style="font-size:13px; margin:5px 0;">- 4 children @ $15/hour</p>
                            <p style="font-size:13px; margin:5px 0;">- More than 4 children will be an additional $1/hour per child</p>
                            <p style="font-size:11px; font-style:italic;">* Rates above are per family</p>
                        </td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <!--<tr>
                    <td align="left" style="background:#f4f4f4; padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Availability</h3></td>
                      </tr>
                      <tr>
                        <td colspan="2" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Indicate which days you are GENERALLY available, and on those days the times available.</span>
                        </td>
                      </tr>
                      <tr>
                        <td width="100" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Monday: </span>
                        </td>
                        <td width="500" style="border-bottom:#cccccc 1px solid;">%MONDAY_DETAILS%</td>
                      </tr>
                      <tr>
                        <td width="100" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Tuesday: </span>
                        </td>
                        <td width="500" style="border-bottom:#cccccc 1px solid;">%TUESDAY_DETAILS%</td>
                      </tr>
                      <tr>
                        <td width="100" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Wednesday: </span>
                        </td>
                        <td width="500" style="border-bottom:#cccccc 1px solid;">%WEDNESDAY_DETAILS%</td>
                      </tr>
                      <tr>
                        <td width="100" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Thursday: </span>
                        </td>
                        <td width="500" style="border-bottom:#cccccc 1px solid;">%THURSDAY_DETAILS%</td>
                      </tr>
                      <tr>
                        <td width="100" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Friday:</span>
                        </td>
                        <td width="500" style="border-bottom:#cccccc 1px solid;">%FRIDAY_DETAILS%</td>
                      </tr>
                      <tr>
                        <td width="100" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Saturday: </span>
                        </td>
                        <td width="500" style="border-bottom:#cccccc 1px solid;">%SATURDAY_DETAILS%</td>
                      </tr>
                      <tr>
                        <td width="100" align="left" valign="bottom" style="padding:5px 0;">
                        	<span style="font-family:Arial, Helvetica, sans-serif; font-size:13px;">Sunday:</span>
                        </td>
                        <td width="500" style="border-bottom:#cccccc 1px solid;">%SUNDAY_DETAILS%</td>
                      </tr>
                    </table>
                    </td>
                  </tr>-->
                  <tr>
                    <td align="left" style="padding:8px; border:#e9e7e8 1px solid;">
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="left" colspan="2">
                        <h3 style="border-bottom: 1px solid #cccccc;color:#f37354;
    font-family: arial;font-size:16px; font-weight: bold; margin:0 0; padding:6px 0;">Our Sitter List LLC expectations:</h3></td>
                      </tr>
                      <tr>
                      	<td align="left">

<p style="font-size:13px; margin:5px 0;">-	I will adhere to the hourly rates referenced above. If a higher rate is desired, please discuss with either Whitney or Karly.</p>
<p style="font-size:13px; margin:5px 0;">-	I will respond to babysitting requests within 3 hours of receipt of said request. (sooner is a plus!)</p>
<p style="font-size:13px; margin:5px 0;">-	I will be on time to my babysitting jobs.</p>
<p style="font-size:13px; margin:5px 0;">-	I will provide my own transportation to and from.</p>
<p style="font-size:13px; margin:5px 0;">-	I will dress appropriately.</p>
<p style="font-size:13px; margin:5px 0;">-	I will not use profanity.</p>
<p style="font-size:13px; margin:5px 0;">-	I will adhere to the children’s parents’ requests regarding eating, napping, television time and other schedules.</p>
<p style="font-size:13px; margin:5px 0;">-	I will not drink alcohol or smoke while children are in my care, custody and control.</p>
<p style="font-size:13px; margin:5px 0;">-	I will keep my schedule updated.</p>
<p style="font-size:13px; margin:5px 0;">-	I will refrain from using my mobile phone, tablet or other device while children are in my care, custody and control.</p>
<p style="font-size:13px; margin:5px 0;">-	I will support Our Sitter List LLC by reminding families to book all sitting jobs through www.oursitterlistnashville.com.</p>
<p style="font-size:13px; margin:5px 0;">-	If a family contacts me for a sitting job and was referred by a member of www.oursitterlistnashville.com then I will refer that family to the website.</p>
<p style="font-size:13px; margin:5px 0;">-	I will keep the house where I am sitting tidy.</p>
<p style="font-size:13px; margin:5px 0;">-	I will contact Whitney or Karly immediately if I need to cancel a sitting job.</p>
<p style="font-size:13px; margin:5px 0;">-	If I am not 18 years of age then I will seek consent from a parent or guardian.</p>
<p style="font-size:13px; margin:5px 0;">-	I have read and accept Our Sitter List LLC “House Rules”.</p>


                        </td>
                      </tr>
                    </table>

                    </td>
                  </tr>
                  <tr>
                    <td align="left" style="padding:8px; border:#e9e7e8 1px solid;">

    <p style="font-size:13px; color:#f37354; font-style:italic;">Please note that by submitting this application, you are subject to a background check that will be run by True Hire: Background Checks (www.true-hire.com). Separate application will need to be completed. We reserve the right to reject this application based on information provided in said background check. %verify_area%</p>

    <h4 style="border-bottom: 1px solid #cccccc;color:#155878;
    font-family: arial;font-size:13px; font-weight: bold; margin:0 0; padding:6px 0;">NO SIGNATURE REQUIRED ON WEBSITE. By signing this application, you agree that all information is correct and that you acknowledge that a background check may be performed and as a result, that this application may be rejected.</h4>



                    </td>
                  </tr>
                  <tr>
                  	<td>
                    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="42%">
                        	<p style="border-bottom:#cccccc 1px solid; font-size:13px; margin:5px 0; padding-top:15px;">%SIGNATURE_APPLICANT%</p>
                            <span style="display:block; font-size:13px; margin:5px 0;">Signature of Applicant</span>
                            <p style="border-bottom:#cccccc 1px solid; font-size:13px; margin:5px 0;">%DATE_APPLICANT%</p>
                            <span style="display:block; font-size:13px; margin:5px 0;">Date</span>
                        </td>
                        <td width="4%">&nbsp;</td>
                        <td width="54%">
                        	<p style="border-bottom:#cccccc 1px solid; font-size:13px; margin:5px 0; padding-top:15px;">%SIGNATURE_PARENT%</p>
                            <span style="display:block; font-size:13px; margin:5px 0;">Signature of Parent/Guardian<span style="font-style:italic; font-size:11px;">(if under the age of 18 years old)</span></span>
                            <p style="border-bottom:#cccccc 1px solid; font-size:13px; margin:5px 0;">%DATE_PARENT%</p>
                            <span style="display:block; font-size:13px; margin:5px 0;">Date</span></td>
                      </tr>
                    </table>

                    </td>
                  </tr>

                </table>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td align="center"><span style="border-bottom:#cccccc 1px solid; font-size:13px; margin:5px 0;">%ADDITONAL_MESSAGE%</span></td>
          </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td align="left" valign="middle" style="background:url(https://www.oursitterlistnashville.com/images/footer-bg2.png) repeat-x; padding:15px 0;"></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="background:#72c0b7; padding:15px 0;">&nbsp;</td>
  </tr>
</table>


</body>
</html>
